# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDE/editor folders
.vscode/
.idea/

# Coverage
coverage/

# Dependency directories
bower_components/

# Optional npm cache directory
.npm/

# TypeScript
*.tsbuildinfo

.env